@import "../css/paragraph.css";
@import "../css/header.css";
@import "../css/button.css";

* {
  box-sizing: border-box;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: row;
  margin: 0;
  background-image: url("../images/vapor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  font-family: "Courier New", Courier, monospace;
}

.nav {
  flex: 1;
}

li {
  list-style: none;
}

.main-head-foot {
  display: flex;
  flex-direction: column;
  flex: 5;
  border: 2px solid black;
}
.content {
  display: flex;
  flex-direction: row;
  border: 1px black solid;
}
.content > article {
  flex: 4;
  min-height: 60vh;
  text-align: left;
  width: 100%;
  font-weight: bold;
  font-size: 300%;
  font-family: "Segoe UI", Monospace, Tahoma, Geneva, Verdana, sans-serif;
}
header {
  font-size: large;
}

article p {
  font-size: larger;
}

footer {
  background-color: black;
  color: burlywood;
}

header,
footer {
  height: 20vh;
  border: 1px solid black;
}
header,
footer,
article,
nav {
  padding: 1em;
}
