body {
  background-color: #ff00c1;
  background-image: url("vapor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: ##00fff9;
  text-align: center;
}

button {
  color: #ff00c1;
  background-color: #00fff9;
}

p {
  color: #00fff9;
}
