body {
  background-color: #ff00c1;
  background-image: url("vapor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: #300350;
  text-align: center;
  text-decoration: underline;
  font-family: Monospace, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  letter-spacing: 5px;
}

button {
  color: #ff00c1;
  background-color: #00fff9;
  font-family: Monospace, "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.welcome {
  color: #300350;
  text-align: left;
  width: 50%;
  font-weight: bold;
  font-size: 600%;
  font-family: "Segoe UI", Monospace, Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
  text-align: center;
  list-style: none;
}

li {
  list-style: none;
}

.home-footer {
  background-color: #00fff9;
}
