/*Flex Container*/
.gridwrapper {
  display: flex;
}

/*Flex Components*/

.nav {
  background-color: aqua;
  border: 2px solid black;
}

.header {
  background-color: antiquewhite;
  border: 2px solid black;
}

.article {
  background-color: green;
  border: 2px solid black;
}

.picture {
  background-color: blue;
  border: 2px solid black;
}

.footer {
  background-color: blueviolet;
  border: 2px solid black;
  grid: 3/-2;
}

img {
  border: 5px solid #ff00c1;
  border-radius: 50%;
  width: 20%;
  height: 20%;
}
