/*Basic styling*/
body {
  background-color: black;
  background-image: url("blogpost.jpg");
  background-size: cover;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

h1,
h2 {
  color: #ff00c1;
}

button {
  background-color: #ff00c1;
  border: 3px solid black;
  margin: 5px;
}

p {
  color: #ff00c1;
}

a {
  color: black;
}

img {
  border: 5px solid #ff00c1;
  border-radius: 50%;
  width: 20%;
  height: 20%;
}

/*Grid Container*/
.gridwrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

/*Grid Components*/

.header {
  text-align: center;
  border: 5px double #ff00c1;
  width: 80%;
  height: 30%;
  background-color: black;
}

.nav {
  text-align: left;
}

.article {
  border: 5px double #ff00c1;
  text-align: left;
  padding: 5px;
  width: 90%;
  height: 80%;
  background-color: black;
  color: #ff00c1;
  grid-column: span 2;
  grid-row: span 2;
}

.picture {
  grid-column: 3;
  grid-row: span 2;
}

.footer {
  display: inline-grid;

  grid-template-rows: repeat(3, 1fr);
  border: 5px double #ff00c1;
  height: 40em;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: black;
  text-align: center;
}

.socials {
  grid-row: 1;
  font-size: 2em;
  border: 2px double #ff00c1;
}

.linked {
  grid-row: 2;
  border: 2px double #ff00c1;
}

.twitter {
  grid-row: 3;
  border: 2px double #ff00c1;
}

img {
  border: 5px solid #ff00c1;
  border-radius: 50%;
  width: 90%;
  height: 90%;
}

li {
  list-style: none;
}

/*This is my media queries*/

@media all and (min-width: 1024px) and (max-width: 1280px) {
  .article {
    height: 400px;
  }

  .footer {
    height: 100%;
  }

  img {
    width: 300px;
    height: 300px;
  }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
  img {
    width: 300px;
    height: 300px;
  }
}

@media all and (min-width: 480px) and (max-width: 768px) {
  .article {
    height: 450px;
  }

  .header {
    height: 100px;
  }
}

@media all and (max-width: 480px) {
  .header {
    height: 170px;
    width: 100px;
  }

  img {
    height: 200px;
    width: 200px;
  }

  .article {
    height: 800px;
  }

  .footer {
    height: 520px;
  }
}

.footer img {
  height: 10%;
  width: 10%;
}

figcaption {
  color: #ff00c1;
}
