body {
  background-image: url("blogpost.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
}

h1,
h2 {
  color: #ff00c1;
}

button {
  background-color: #ff00c1;
  border: 3px solid black;
  margin: 5px;
}

p {
  color: #ff00c1;
}

a {
  color: black;
}

img {
  border: 5px solid #ff00c1;
  border-radius: 50%;
  width: 20%;
  height: 20%;
}

/*Grid Container*/
.gridwrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 5px;
}

/*Grid Components*/

.header {
  text-align: center;
  border: 5px double #ff00c1;
  width: 80%;
  height: 30%;
  background-color: black;
}

.nav {
  text-align: left;
}

.article {
  border: 5px double #ff00c1;
  text-align: left;
  padding: 5px;
  width: 90%;
  height: 50%;
  background-color: black;
  color: #ff00c1;
  grid-column: span 2;
  grid-row: span 2;
}

.picture {
  grid-column: 3;
  grid-row: span 2;
}

.footer {
  border: 5px double #ff00c1;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: black;
  grid-column: span 3;
  grid-row: 4;
  text-align: center;
}

img {
  border: 5px solid #ff00c1;
  border-radius: 50%;
  width: 90%;
  height: 90%;
}

li {
  list-style: none;
}
